*.gz
*.swp
*.swo
*.swh
*.swl
*.swm
*.swn
.vscode/
__pycache__
.venv

go.work*

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Model checkpoint
examples/llama2/Llama2-Chinese-7b-Chat/

# LLaMA2 data
examples/llama2/data/
examples/llama2/wikitext-103-raw/

# Bert data
examples/bert/dataset/
examples/bert/experiments/

# Ignore experiment directory
*ds_experiments

# Jetbrain 
.idea/

# Binaries created during development
cmd/cpodmanager/cpodmanager
cmd/modeluploader/modeluploadjob
cmd/cpodmanager/a.json
cmd/testcmd/
pkg/test/


# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# 调试二进制文件
__debug_bin*
.secrets

cmd/main.go