*.gz
*.swp
*.swo
*.swh
*.swl
*.swm
*.swn
.vscode/

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Model checkpoint
examples/llama2/Llama2-Chinese-7b-Chat/

# LLaMA2 data
examples/llama2/data/
examples/llama2/wikitext-103-raw/

# Bert data
examples/bert/dataset/
examples/bert/experiments/

# Ignore experiment directory
*ds_experiments

# Jetbrain 
.idea/

cmd/cpodmanager/cpodmanager
cmd/modeluploader/modeluploadjob
cmd/cpodmanager/a.json
cmd/testcmd/
pkg/test/