[submodule "examples/nccl/nccl"]
	path = examples/nccl/nccl
	url = https://github.com/NVIDIA/nccl.git
[submodule "examples/nccl/nccl-tests"]
	path = examples/nccl/nccl-tests
	url = https://github.com/NVIDIA/nccl-tests.git
[submodule "examples/nccl/gpu_direct_rdma_access"]
	path = examples/nccl/gpu_direct_rdma_access
	url = https://github.com/Mellanox/gpu_direct_rdma_access.git
