<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="nascentcore.ai.modules.system.mapper.ConfigMapper">
    <resultMap id="BaseResultMap" type="nascentcore.ai.modules.system.domain.Config">
        <id column="config_id" property="configId"/>
        <result column="key_name" property="keyName"/>
        <result column="key_value" property="keyValue"/>
    </resultMap>

    <sql id="Base_Column_List">
        config_id, key_name, key_value
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_config
        <where>
            <if test="criteria.keyName != null">
                and key_name = #{criteria.keyName}
            </if>
        </where>
        order by config_id desc
    </select>
</mapper>
