<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="nascentcore.ai.modules.system.mapper.CpodMainMapper">
    <resultMap id="BaseResultMap" type="nascentcore.ai.modules.system.domain.CpodMain">
        <id column="main_id" property="mainId"/>
        <result column="cpod_id" property="cpodId"/>
        <result column="user_id" property="userId"/>
        <result column="cpod_version" property="cpodVersion"/>
        <result column="gpu_vendor" property="gpuVendor"/>
        <result column="gpu_prod" property="gpuProd"/>
        <result column="gpu_total" property="gpuTotal"/>
        <result column="gpu_allocatable" property="gpuAllocatable"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        main_id, cpod_id, cpod_version, gpu_vendor, gpu_prod, gpu_total, gpu_allocatable, create_time, update_time
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_cpod_main
        <where>
            <if test="criteria.cpodId != null">
                and cpod_id = #{criteria.cpodId}
            </if>
            <if test="criteria.gpuProd != null">
                and gpu_prod = #{criteria.gpuProd}
            </if>
            <if test="criteria.gpuAllocatable != null">
                and gpu_allocatable &gt;= #{criteria.gpuAllocatable}
            </if>
            <if test="criteria.userId != null">
                and user_id = #{criteria.userId}
            </if>
        </where>
        order by main_id desc
    </select>

    <select id="findByCpodId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_cpod_main u
        where u.cpod_id = #{cpodid}
    </select>

    <select id="queryAllGpuType" resultMap="BaseResultMap">
        select distinct gpu_prod
        from sys_cpod_main where `gpu_prod` != ""
    </select>
</mapper>
